<%- announcement ||= @announcement -%>
<div>
  <div class="announcement date column span-4">
    <h3><%= @announcement.created_at.strftime("%d/%m/%Y") %></h3>
  </div>
  <div class="announcement body column span-18">
    <h3><%= @announcement.body.html_safe %></h3>
  </div>
</div>