
@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-COND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Semibold Italic';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Semibold';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Italic';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-BOLDCONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src: url('MYRIADPRO-BOLD.woff') format('woff');
}

body{
	font-family: 'Myriad Pro Regular';
}

/* Header .div */
.clear::after, .container::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#header {
    border-bottom: 1px dotted #cccccc;
    height: 35px;
    line-height: 1.25em;
    margin: 0 10px 1em;
    min-width: 900px;
}

#banner{    
    margin-bottom: 20px;
    position: relative;
}

div#banner.row img{
    width: 100%;
}

.clear {
    display: block;
}

/* ul elements of bar */
#header .navtabs {
    display: inline;
    margin: 0;
    padding: 0;
}
#header ul {
    list-style: outside none none;
}

/* li elements of bar */
#header .navtabs li, #header .navtabs .inter {
    display: block;
    float: left;
}
#header .navtabs li {
    background-color: white;
    position: relative;
}

/* a elements */
#header .navtabs .subnavtab a:first-child {
    padding-right: 2px;
}
#header .navtabs .subnavtab a {
    float: left;
}

/* subnav */
#header .navtabs .subnavtab {
    white-space: nowrap;
}
#header .navtabs .subnavtab {
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 2px;
}

#header .subnav {
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #ccc;
    border-right-style: solid;
    border-right-width: 2px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 1000;
}

/* subnav link */
#header .navtabs .subnavtab .subnavlink {
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    text-align: center;
}
#header .navtabs .subnavtab a {
    float: left;
}
#header .navtabs a, #header .navtabs .inter {
    display: block;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-top: 7px;
    padding-right: 5px;
}

#header .navtabs .subnav li, #header .navtabs .subnav a {
    float: none;
}
#mainnav .subnav li {
    text-align: right;
}
#header .navtabs li, #header .navtabs .inter {
    display: block;
}
#header .navtabs li {
    background-color: white;
    position: relative;
}

/* Observations sub items */
#header .navtabs .observationstab .subnav a, #header .navtabs .projectstab .subnav a {
    background-image: url('logo-eee-15px.png');
    background-position: 148px center;
    background-repeat: no-repeat;
}
#mainnav.navtabs .subnav a {
    padding-right: 35px;
}
#header .navtabs .subnav li, #header .navtabs .subnav a {
    float: none;
}

/* Subnav taxon links */
#header .navtabs .subnav.taxon_links li a.taxon {
    background-position: 145px center;
    background-repeat: no-repeat;
    padding-right: 35px;
}

.taxon_links .taxon.Chromista {
    background-image: url('/assets/iconic_taxa/chromista-15px.png');
    color: #930;
}

.taxon_links .taxon.Animalia {
    background-image: url('/assets/iconic_taxa/animalia-15px.png');
    color: #1e90ff;
}

.taxon_links .taxon.Mollusca {
    background-image: url('/assets/iconic_taxa/mollusca-15px.png');
    color: #ff4500;
}

.taxon_links .taxon.Insecta {
    background-image: url('/assets/iconic_taxa/insecta-15px.png');
    color: #ff4500;
}

.taxon_links .taxon.Arachnida {
    background-image: url('/assets/iconic_taxa/arachnida-15px.png');
    color: #ff4500;
}

.taxon_links .taxon.Mammalia {
    background-image: url('/assets/iconic_taxa/mammalia-15px.png');
    color: #1e90ff;
}

.taxon_links .taxon.Amphibia {
    background-image: url('/assets/iconic_taxa/amphibia-15px.png');
    color: #1e90ff;
}

.taxon_links .taxon.Reptilia {
    background-image: url('/assets/iconic_taxa/reptilia-15px.png');
    color: #1e90ff;
}

.taxon_links .taxon.Actinopterygii {
    background-image: url('/assets/iconic_taxa/actinopterygii-15px.png');
    color: #1e90ff;
}

.taxon_links .taxon.Aves {
    background-image: url('/assets/iconic_taxa/aves-15px.png');
    color: #1e90ff;
}

.taxon_links .taxon.Fungi {
    background-image: url('/assets/iconic_taxa/fungi-15px.png');
    color: DeepPink;
}

.taxon_links .taxon.Protozoa {
    background-image: url('/assets/iconic_taxa/protozoa-15px.png');
    color: #691776;
}

.taxon_links .taxon.Plantae {
    background-image: url('/assets/iconic_taxa/plantae-15px.png');
    color: #73ac13;
}

/* User nav */
#header .navtabs .inter a {
    display: inline;
    float: none;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#header .inter.user strong {
    position: relative;
    top: 1px;
}

#header .inter.user{
    padding: 0;
}

#header .inter.user img {
    height: 29px;
}

.inlineblock, .ui-multiselect {
    display: inline-block;
}

#header .navtabs .subnavtab a.headernotice:first-child, #header .navtabs a.headernotice, #header .headernotice {
    display: block;
    float: left;
    height: 22px;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 7px;
    padding-top: 7px;
}

div.grid-item.func div.inner-grid-wrapper-small img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

/* Messages */
.ui-icon.inlineblock {
    display: inline-block;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.ui-icon-mail-closed {
    background-position: -80px -96px;
}
.ui-icon {
    background-image: url('/assets/jquery-ui/ui-icons_3366cc_256x240.png');
    height: 16px;
    width: 16px;
}
.ui-icon {
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -99999px;
}

#updatesnav .ui-icon {
    float: left;
    position: relative;
    top: -2px;
}
.ui-icon-comment {
    background-position: -128px -96px;
}
.ui-icon {
    background-image: url('/assets/jquery-ui/ui-icons_3366cc_256x240.png');
    height: 16px;
    width: 16px;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -99999px;
}

.notices .subnav {
    background-color: white;
    display: none;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.notices .subnav .loadingwrapper {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.status.loading {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url('/assets/spinner-small.gif');
    background-origin: padding-box;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #888;
    padding-left: 20px;
}

/* Switchboard */
#header .navtabs #usersubnav a {
    padding-left: 28px;
}
#usersubnav li a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/assets/logo-eee-15px.png');
    background-origin: padding-box;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    min-height: 15px;
    width: auto;
}

#usersubnav li a:hover {
    background-image: url('/assets/logo-15px.png');

}

#usersubnav .observations_link {
    background-image: url('/assets/notebook-icon-eee-15px.png');
    background-position: 7px 40%;
}

#usersubnav .observations_link:hover {
    background-image: url('/assets/notebook-icon-color-15px.png');
}

#header .navtabs .lists_link {
    background-image: url('/assets/checklist-icon-eee-15px.png');    
    background-position: 5px 50%;
}

#header .navtabs .lists_link:hover {
    background-image: url('/assets/checklist-icon-color-15px.png');
}

#header .navtabs .journal_link {
    background-image: url('/assets/silk/book-gray.png');
    background-position: 7px 50%;
}

#header .navtabs .journal_link:hover {
    background-image: url('/assets/silk/book-light.png');
}

#header .navtabs .messages_link {
    background-image: url('/assets/silk/email-gray.png');
    background-position: 7px 50%;
}

#header .navtabs .messages_link:hover {
    background-image: url('/assets/silk/email.png');
}

#header .navtabs .profile_link {
    background-image: url('/attachment_defaults/users/icons/defaults/mini.png');
    background-position: 7px 50%;
}

#header .navtabs .profile_link:hover {
    background-image: url('/attachment_defaults/users/icons/defaults/mini-color.png');
}

/* Formwrapper for nav forms */
#header .formwrapper {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#header form {
    min-width: 148px;
}

#header form .button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/assets/silk/magnifier.png');
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    margin-right: 0;
    width: 25px;
}

/* a elements of bar */
#header .navtabs a.logolink {
    padding: 3px 0 4px;
}
#header .navtabs a, #header .navtabs .inter {
    display: block;
}
#mainnav .logolink {
    line-height: 0;
    margin-right: 10px;
}
#mainnav a {
    font-size: 14px;
    font-weight: bold;
}
a {
    color: #36c;
    text-decoration: none;
}

/* float right user nav */
#usernav {
    float: right;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {		  
    height: 100%;
    /*height: 600px;*/
    /*width: 100%;*/
    margin: auto;
}
div#map{
	/*background-color: red;*/
	/*height: 50%;*/
    /*height: 300px;*/
}

div#slider-footer{		
    height: 100px;
}
div#slider-container{
    padding-right: 0px;
}
div#map-container{
    padding-left: 0px;
}

div.carousel-caption a{
    font-size:20px;
    color: white;
}
/*.list-group-horizontal .list-group-item {
	display: inline-block;
}*/	
.list-group-item{
	border-bottom-style: none;
}
/*a.list-group-item{		
	border-top-left-radius: 0px !important; 
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important; 
	border-bottom-left-radius: 0px !important;
	width:19%;
	height: 80px;
	border-left-width: 0px; 
	border-right-width: 0px;
	padding-left: 0px; 
	padding-right: 0px;			
	border-right-width: 1px;
}*/
.list-group-item:last-child {
	border-right-width: 0px !important;
}		
h4.list-group-item-heading{
	font-size:20px;
	font-family: 'Myriad Pro Semibold';
}
p.list-group-item-text{
	font-size:10px;
	text-transform: uppercase;
}

.navbar{
    margin-top: 20px;
}

/*.navbar .navbar-inner {
	padding: 0;
}*/

/*.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}*/

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

/*.col-centered{
	float: none;
	margin: 0 auto;
}
.body-content-item{
	height: 250px;
	background-color: green;		
}

.body-content-row-first{
	margin-top: 20px;
}

.body-content-row-last{
	margin-bottom: 20px;
}

.body-content-row-item-picture{
	height: 50%;
	margin-top: 15px; 
	margin-left: 0px;		
	background-color: white;
}
.body-content-row-item-text{
	height: 40%;		
	margin-left: 0px;
	background-color: white;
}

div#main-body-container{
	background-color: rgba(0, 0, 0, 0.6);
}

.rounded{
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;
}

.rounded-top{
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
}

.rounded-bottom{
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;
}

div.row.body-content-row-item-text.rounded-bottom h4{
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px; 
	margin-right: 10px;
}

div.row.body-content-row-item-text.rounded-bottom p{
	font-size: 10px;
	margin-left: 10px; 
	margin-right: 10px;		
}

div.row.body-content-row-item-picture a{
	position: absolute;
	top:25px;
	left:35px;
	background-color: #723ee2;
	color: white;
	text-transform: uppercase;
}

.grid-picture{
	margin-top: 15px;
	margin-left: 15px; 
	margin-right: 15px;
}

.grid-picture a{
	position: absolute;
	top:25px;
	left:35px;
	background-color: #723ee2;
	color: white;
	text-transform: uppercase;
}*/

.grid {
    background-color: #FFF;
    padding-left: 60px;
}

.grid-text h4{
	font-size: 12px;
	font-weight: bold;
	margin-left: 25px; 
	margin-right: 25px;
}

/*.grid-text p{
	font-size: 10px;		
	margin-left: 25px; 
	margin-right: 25px;
}*/

.grid-item {
	float: left;
	width: 285px;
    height: 295px;
	background: #FFF;
	/*border: 2px solid #b6b5b4;
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;*/
}
.grid-item--width2 { 
	width: 570px; 
}

.inner-grid-wrapper-small{
	position:absolute;
	top:25px;
	left:25px;
	width:230px;
    height: 265px;
	/*height:300px;*/
	background-color:white;
    border: solid 1px;
    border-color: #5B5B5B;
}

.inner-grid-wrapper-small h4{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.inner-grid-wrapper-small p{
    margin-left: 10px;
    margin-right: 10px;
}

.inner-grid-wrapper-large{
	position:absolute;
	top:25px;
	left:25px;
	width:520px;
	height:300px;
	background-color:white;
}

.inner-grid-wrapper-tall{
    position:absolute;
    top:25px;
    left:25px;
    width:520px;
    height:520px;
    background-color:white;
}

div.section-label a{
	font-family: 'Myriad Pro Bold';
	position: absolute;
	top:25px;
	left:15px;		
	text-transform: uppercase;
	padding: 2px;
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;
	color: white;
        z-index: 10;
        font-size: 12px;
}

div.section-label span{
  position: relative;
  display: block;
  width: 210px;
  height: 180px;
  overflow: hidden;  
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

div.section-label span.fullframe{
  height: 250px;
}

div.section-label span img{
  position: absolute;
  left: -10px
}

div.section-label span img.taxonimage.iconic{
  left: 75px;
  top: 75px;
}

div.section-label span img.homegriduser
{
  left: -45px;
  top: -10px;
}

div.section-label p {
    position: absolute;
    top: 220px;    
    left: 15px;
    font-size: 10px;
    font-weight: 1px;
    z-index: 8;
    color: black;
    background-color: rgba(255,255,255,0.2);
    font-style: italic;
}

#iconimg.project_picture{
  left: 75px;
  top: 65px;
}

a.photo_caption{
  position: relative !important;
  color: black !important;
  top: 0 !important;
  left: 0 !important;
  text-transform: none !important;
}

a.observer_caption{
    color: black !important;
    left: 0 !important;
    position: relative !important;
    text-transform: none !important;
    top: 0 !important;
}

 a.label-species{
	background-color: #723ee2;		
 }
 
 a.label-observaciones{
	background-color: #00a873;
	
 }
 a.label-proyectos{
	background-color: #eba34b;		
 }
 a.label-lugares{
	background-color: #007ec4;		
 }
 a.label-gente{
	background-color: #eba34b;		
 }
 
 div.guide-wrapper{
	background-color: #3d9500;
	position:absolute;
	height:100%;		
 }	 	 

div.guide-wrapper p.guide-header {
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

div.guide-wrapper h4.guide-title {
	color: white;		
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

div.guide-wrapper p.guide-body {
	color: white;		
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

div.guide-wrapper div.guide-more-link {		
	text-align: center;		
	padding: 2px;
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px;				
}		
	

div.guide-wrapper div.guide-more-link a {
	color: white;
	text-transform: uppercase;				
	border-style: solid;		
	border-width: 1px;
	padding: 5px;		
}

.very-round-border a {
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px;	
}

/*.round-border a {
	border-top-left-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px;			
}*/

.nopadding{
	padding: 0;
}

img.pre-footer{
	width: 100%;
}

.section-end{
	height: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	/*border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #aeaeae;*/
}

.section-end-post{
	height: 20px;
	margin-top: 10px;		
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #aeaeae;
}

.legal	{
	background-color: #2f2f2f;
}

/*.legal p{
	color: white;
}*/

/*legal .col-md-2 ul.list-group{
	padding-top: 20px;
}*/
	
div.row.legal ul.list-group li.list-group-item{
	background-color: #2f2f2f;
	border-color: #2f2f2f;
}

div.row.legal div.col-md-2 ul.list-group li.list-group-item{
	font-family: 'Myriad Pro Bold';
	color: #fff;
}

/*div.row.legal div.col-md-4 ul.list-group li.list-group-item{
	font-family: 'Myriad Pro Bold';
	color: #fff;
}*/

div.row.legal div.col-md-2 ul.list-group li.list-group-item a{
	font-family: 'Myriad Pro Bold';
	color: #fff;
}
	
div.row.legal div.col-md-3{
	border-right-width: 1px;
	border-right-color: #fff;
	/*border-style: solid;*/
	/*height: 320px;*/
}

div.row.legal div.col-md-3.no-right-separator{
	border-style: none;
}

div.row.legal div.col-md-3{
	margin-top: 30px;
	margin-bottom: 30px;
}

div.row.legal div.col-md-4{
    margin-top: 30px;
    margin-bottom: 30px;
}

div.row.legal div.col-md-4 div.input-group{
	margin-top: 40px;	
}

div.app_group{
    margin-top: 20px;
}

div.row.legal div.col-md-4 div.input-group span.input-group-btn button.btn.btn-default{
	padding-top: 9px;
	padding-bottom: 9px;
}

div.row.legal div.col-md-3.no-right-separator span{
    color:white;
}

div.row.legal div.col-md-3.no-right-separator img{
    width: 263px;
}

########################

.observations.infowindow {
    margin: 0;
}

.observations.mini .observation::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.observations.infowindow .observation {
    border: 0 none;
    margin: 0;
    max-height: 300px;
    padding: 0;
    width: 400px;
}
.observations.mini .observation {    
    position: relative;
}

.observations.mini.infowindow .observation[data-iconic-taxon-name] .icon {
    top: 3px;
}
.observations.mini .icon {
    left: 5px;
    position: absolute;      
}


.observations .mini .photos .attribute {
    max-width: 80px;
}
.observations .mini .photos {
    float: right;
    margin-left: 4px;
}

.gm-style .observations.infowindow .species_guess {
    font-size: 14px;
}
.observations.mini .species_guess {
    line-height: 1.2;
    margin-bottom: 5px;
}
.observations.mini .observed_on, .observations.mini .created_at, .observations.mini .species_guess, .observations.mini .tags, .observations.mini .place, .observations.mini .user, .observations.mini .actions, .observations.mini .curator_ident {
    padding-left: 30px;
}

.observations.mini.compact.infowindow .observation .user, .observations.mini.compact.infowindow .observation .observed_on, .observations.mini.compact.infowindow .observation .created_at, .observations.mini.compact.infowindow .observation .details, .observations.mini.compact.infowindow .observation .tags, .observations.mini.compact.infowindow .observation .actions {
    padding-left: 0;
}

.observations.mini .user, .observations.mini .observed_on, .observations.mini .created_at, .observations.mini .tags, .observations.mini .place {
    font-size: 100%;    
    position: relative;
}

.observations.mini.compact.infowindow .observation .user, .observations.mini.compact.infowindow .observation .observed_on, .observations.mini.compact.infowindow .observation .created_at, .observations.mini.compact.infowindow .observation .details, .observations.mini.compact.infowindow .observation .tags, .observations.mini.compact.infowindow .observation .actions {
    padding-left: 0;
}
.observations.mini.compact .observation .user, .observations.mini.compact .observation .observed_on, .observations.mini.compact .observation .created_at {
    padding-left: 30px;
}
.observations.mini .user, .observations.mini .observed_on, .observations.mini .created_at, .observations.mini .tags, .observations.mini .place {
    font-size: 100%; 
    position: relative;
}

.observations.mini.compact .observation .othernames, .observations.mini.compact .observation .photo, .observations.mini.compact .observation .time, .observations.mini.compact .observation .place {
    display: none !important;
}
.observations.mini .user, .observations.mini .observed_on, .observations.mini .created_at, .observations.mini .tags, .observations.mini .place {
    font-size: 100%;
    padding-left: 85px;
    position: relative;
}

.observations.mini.compact.infowindow .observation .user, .observations.mini.compact.infowindow .observation .observed_on, .observations.mini.compact.infowindow .observation .created_at, .observations.mini.compact.infowindow .observation .details, .observations.mini.compact.infowindow .observation .tags, .observations.mini.compact.infowindow .observation .actions {
    padding-left: 0;
}

.observations.mini .user, .observations.mini .observed_on, .observations.mini .created_at, .observations.mini .tags, .observations.mini .place {
    font-size: 100%; 
    position: relative;
}

.observations.mini.compact.infowindow .observation .user, .observations.mini.compact.infowindow .observation .observed_on, .observations.mini.compact.infowindow .observation .created_at, .observations.mini.compact.infowindow .observation .details, .observations.mini.compact.infowindow .observation .tags, .observations.mini.compact.infowindow .observation .actions {
    padding-left: 0;
}
.observations.infowindow .details, .observations.infowindow .tags {
    display: block;
    margin-top: 5px;
}
.observations.mini .user, .observations.mini .observed_on, .observations.mini .created_at, .observations.mini .tags, .observations.mini .place {
    font-size: 100%; 
    position: relative;
}

.observations.mini.compact.infowindow .observation .user, .observations.mini.compact.infowindow .observation .observed_on, .observations.mini.compact.infowindow .observation .created_at, .observations.mini.compact.infowindow .observation .details, .observations.mini.compact.infowindow .observation .tags, .observations.mini.compact.infowindow .observation .actions {
    padding-left: 0;
}
.observations.mini.compact .actions, .observations.mini.infowindow .actions {
    margin-top: 5px;
}

.observations.mini .icon img {
    max-width: 20px;
}
.gm-style img {
    max-width: none;
}
img, p img {
    float: none;
    margin: 0;
}
.attribute h4.label{
    font-size: 10px;
    color: #009933;
}

.observations h4 {
    display: none;
    margin: 0;
}

.attribute a {
    color: #82b71f;
}

div.grid-item.func div.inner-grid-wrapper-small a img {
    margin-top: 100px;
    width: 210px;
    margin-left: 10px;
    margin-right: 10px;
}

div.grid-item.func div.inner-grid-wrapper-small{
    border: 0 !important;
}

div.grid-item.func div.inner-grid-wrapper-small.applink{
    background-color: #82b71f;
    color: #82b71f;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(91, 90, 95, 0.5) 100%);    
}

.carousel-control.left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0px, rgba(91, 90, 95, 0.5) 100%);    
}

.carousel-indicators .active {
    background-color: #5D9B45;
    height: 15px;
    margin: 0;
    width: 15px;
}

.carousel-indicators li {
    background-color: #C2DEAE;
    border: 1px solid #C2DEAE;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 1px;
    text-indent: -999px;
    width: 14px;
}

.carousel-inner {
    margin-bottom:50px;
}

.carousel-indicators {
    bottom:-50px;
}

.username_label, .username_label:hover {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 80px;
}

.species_label, .species_label:hover {
    font-size: 18px;
    font-style: italic;
    color: white;
}
 #bottom {
     background-color: rgba(85, 85, 85, 0.9);
     color: #FFF;
     bottom:0;
     left:0;
     z-index: 10000;
     position: absolute;
     width: 100%;
 }

div#bottom a {
    font-size: 18px;
    color: white;
}

#map-container{
    position: absolute;
    bottom: 40;
    right: 10;
    width: 300px;
    height: 150px;
    background-color: rgba(85, 85, 85, 0.9);
}

#map{
    width: 100%;
    height: 100%;
}

 #observation_count{
     top: 10;
     right: 10;
     position: absolute;
     width: 200px;
     height: 70px;
     background-color: rgba(85, 85, 85, 0.9);
 }

#species_count{
    top: 90;
    right: 10;
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: rgba(75, 75, 75, 0.9);
}

#people_count{
    top: 170;
    right: 10;
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: rgba(85, 85, 85, 0.9);
}

.cblink, .cblink:hover {
    color: #80964E;
    font-size: 24px;
    text-transform: lowercase;
}

.count_banner{
    right: 5;
    bottom: 1;
    position: absolute;
}

.count_banner_n{
    right: 5;
    top: 1;
    position: absolute;
    color: #FFF;
    font-size: 40px;
}

.locale_link{
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
    color: #5B5B5B;
}

.active{
    color: #80964E !important;
}

.sidebar-nav{
    /*padding-top: 25px;*/
    /*padding-left: 0 !important;*/
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 180px;
}

.sidebar-content{
    padding-left: 0 !important;
}

.green-fill{
    background-color: #8AB63B;
    padding-top: 10px;
    padding-bottom: 20px;
}

.white-fill{
    background-color: #FFF;
}

.nav-button{
    color: #5B5B5B;
}

.nav-button:hover{
    color: #5B5B5B;
    background-color: #FFF;
}

.stretch{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
}

.span_right{
    float: right;
}

.menulegalitem{
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menulegalminoritem{
    padding-top: 2px;
    padding-bottom: 2px;
}

.lgdown{
    margin-top: 65px !important;
}

.applogo{
    width: 180px;
    padding-bottom: 10px;
}

.sublegal{
    background-color: #2f2f2f;
}

.sublegal .row{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.sublegal a, span{
    color: #36c;
    font-family: "Myriad Pro Semibold";
}

.sublegal span a {
    color: #8AB63B;
}

.calltoaction{
    left: 5px;
    top: 1px;
    position: absolute;
    background-color: #4000FF;
    font-size: 24px;
    width: 200px;
    height: 35px;
    text-align: center;
}

.explore {
    top: 45px;
}

.ctalink {
    vertical-align: middle;
    display: table-cell;
    height: 50px;
}

.calltoaction a{
    color: #FFF;
}

ul#webTicker li {
    font-size: 16px;
    font-family: "Myriad Pro Regular";
}
