.observations.mini .project_observation .observation {
  margin-bottom: 0;
  border-bottom: 0 transparent;
  padding: 0;
}
.observations.mini .project_observation {
  border: 0 none;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
#project_menu ul li a {
  background-position: 190px center;
  background-repeat: no-repeat;
  display: block;
  float: none;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 25px;
  padding-top: 7px;
  text-align: right;
  line-height: 1.25em;
}
